body,html{
	background: #FFFFFF; 
	color: #444444;
	width: 100%;
    height: 100%;	
}

.sign{
	background: #E5F2FD;
	width: 100%;
    height: 100%; 
}

.container { 		 
    background: #FFFFFF; 
	width:  350px;
	height: 450px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(40% - 225px);
 	padding: 50px;
}

.intext{
	margin: 10px; 
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px ##444444;
	font-family:Arial;	
}

button{
	border-radius: 10px;
	background: #444444;
	height: 40px; 
	width:  300px;
	color: #ffffff;	
	font-family:Arial;
}

.inradio{
	margin-left: 5px; 
	height: 15px;
	width:  50px;
	border: 3px ##444444;
	font-family:Arial;	
}

.div_top{
	background: black; 
	min-width:  100%;
	min-height: 10%;
	position: absolute;
	top: 0;
    left: 0; right:0;
    margin: 0 auto;
    overflow: hidden;
}

.div_left{
	margin: 0 auto;
	width: 200px;
	height: 100%;
	position: absolute;
    left: 0;
    background: #FFFFFF; 
    top: 10.5%;
    bottom: 0;
    border-right: 4px outset black;
}

.div_right{
	margin: 0 auto;
	width: 200px;
	height: 100%;
	position: absolute;
	top: 12%;
	right: 0;
	background: #FFFFFF; 
}

.div_main{
	position: absolute; 
	top: 12%;
	left: 210px;
	width: 15%;
}

a{
    color: #000000;
    padding: 2px; 
    text-decoration: none;
 }

a:visited {
    color: #000000;
    text-decoration: none; 
} 
 
a:hover {
   	font-size: 20px;
   	color: #000000;
	text-decoration: underline overline; 
}

.title{
	color: #FFFFFF;
	font-family: Arial;	
	font-size: 40px;
	margin-left: 100px;
}

.td1{
	background: #E5F2FD;
}

td{
	font-size: 20px;
	background: #FFFFFF;
}

.table_p{
	width: 500%;
	background: #FFFFFF;
	border-spacing: 0px 0px;
}

.smal_button{
	height: 40px;
	width: 25%;
	margin-right: 15px;
}

.button_sign{
	background: #000000;
	color: #FFFFFF;
	position: absolute;
	right: 25px;
	height: 30px; 
	width:  170px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: 4px solid #000000;
	border: 2px solid #ffffff;
}

.div_sign{
	position: absolute;
	right: 0;
}

select{
	margin-top: 7px;
	margin-bottom: 10px;
	margin-right: 30px;
	height: 40px; 
	width:  200px;
	border-radius: 10px;
	font-size: 20px;
}

.div_profile_left{
	margin: 0 auto;
	width: 400px;
	height: 100%;
	position: absolute;
    left: 0; 
    top: 10.5%;
}

.div_photo{
	margin: 0 auto;
	width: 300px;
	height: 350px;
	position: absolute;
    left: 67px; top: 40px;
    background: #E5F2FD; 
}

img{
	position: absolute;
    left: 0px; top: 0px;
    width: 300px;
	height: 350px;
}

.div_profile_menu{
	background: #000000; 
	color: #FFFFFF;
	margin: 0 auto;
	width: 300px;
	height: 350px;
	position: absolute;
    left: 67px; top: 420px;
}

.a_profile{
	font-size: 25px;
   	color: #FFFFFF;
   	margin: 10px;
}

.a_profile:visited {
    color: #FFFFFF;
    text-decoration: none; 
} 
 
.a_profile:hover {
   	font-size: 25px;
   	color: #FFFFFF;
}

.div_profile_main{ 
	position: absolute;
    left: 400px; top: 10.5%;
    width: 80%;
	height: 350px;
}

.div_info{
	background: #E5F2FD; 
	margin: 0 auto;
	width: 90%;
	height: 200px;
	position: absolute;
    left: 45px; top: 40px;
    padding: 20px; 
    font-size: 20px;
}

.table_profile{
	margin: 0 auto;
	width: 95.5%;
	height: 200px;
	position: absolute;
    left: 24px; top: 250px;
    padding: 20px; 
    font-size: 20px;
    background: #FFFFFF;
    border-spacing: 0px 0px;
}