body,html{
	background: #FFFFFF; 
	color: #444444;
	width: 100%;
    height: 100%;	
}

.sign{
	background: #E5F2FD;
	width: 100%;
    height: 100%; 
}

.container { 		 
    background: #FFFFFF; 
	width:  350px;
	height: 490px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(40% - 225px);
 	padding: 50px;
}

.container_in { 		 
    background: #FFFFFF; 
	width:  350px;
	height: 400px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(40% - 225px);
 	padding: 50px;
}

.intext{
	margin: 10px; 
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px ##444444;
	font-family:Arial;	
}

button{
	border-radius: 10px;
	background: #444444;
	height: 40px; 
	width:  300px;
	color: #ffffff;	
	font-family:Arial;
}

.inradio{
	margin-left: 5px; 
	height: 15px;
	width:  50px;
	border: 3px ##444444;
	font-family:Arial;	
}

.div_top{
	background: black; 
	width:  100%;
	height: 10.5%;
	position: absolute;
	top: 0;
    left: 0; right:0;
    margin: 0 auto;
}

.div_left{
	margin: 0 auto;
	width: 200px;
	height: 100%;
	position: absolute;
    left: 0;
    background: #FFFFFF; 
    top: 10.5%;
    bottom: 0;
    border-right: 4px outset black;
}

.div_right{
	margin: 0 auto;
	width: 15%;
	height: 100%;
	position: absolute;
	top: 12%;
	right: 0;
	background: #FFFFFF; 
}

.div_main{
	position: absolute; 
	top: 12%;
	left: 220px;
	width: 14%;
}

.a_main_menu{
    color: #000000;
    padding: 2px; 
    text-decoration: none;
 }

.a_main_menu:visited {
    color: #000000;
    text-decoration: none; 
} 
 
.a_main_menu:hover {
   	font-size: 20px;
   	color: #000000;
	text-decoration: underline overline; 
}

.title{
	color: #FFFFFF;
	font-family: Arial;	
	font-size: 40px;
	margin-left: 100px;
}

.td1{
	background: #E5F2FD;
}

td{
	font-size: 20px;
	background: #FFFFFF;
}

.table_p{
	width: 500%;
	background: #FFFFFF;
	border-spacing: 0px 0px;
}

.smal_button{
	height: 40px;
	width: 25%;
	margin-right: 15px;
}

.button_sign{
	background: #000000;
	color: #FFFFFF;
	position: absolute;
	right: 25px;
	height: 30px; 
	width:  170px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: 4px solid #000000;
	border: 2px solid #ffffff;
}

.select_menu{
	margin-top: 7px;
	margin-bottom: 10px;
	margin-right: 30px;
	height: 40px; 
	width:  200px;
	border-radius: 10px;
	font-size: 20px;
	position: absolute;
	right: 20px;
}

.div_profile_left{
	margin: 0 auto;
	width: 400px;
	height: 100%;
	position: absolute;
    left: 0; 
    top: 10.5%;
}

.div_photo{
	margin: 0 auto;
	width: 300px;
	height: 350px;
	position: absolute;
    left: 67px; top: 40px;
    background: #E5F2FD; 
}

img{
	position: absolute;
    left: 0px; top: 0px;
    width: 300px;
	height: 350px;
}

.div_profile_menu{
	background: #000000; 
	color: #FFFFFF;
	margin: 0 auto;
	width: 300px;
	height: 350px;
	position: absolute;
    left: 67px; top: 420px;
}

.a_profile{
	font-size: 25px;
   	color: #FFFFFF;
   	margin: 10px;
}

.a_profile:visited {
    color: #FFFFFF;
    text-decoration: none; 
} 
 
.a_profile:hover {
   	font-size: 25px;
   	color: #FFFFFF;
}

.div_profile_main{ 
	position: absolute;
    left: 400px; top: 10.5%;
    width: 80%;
	height: 100%;
}

.div_info{
	background: #E5F2FD; 
	margin: 0 auto;
	width: 90%;
	height: 20%;
	position: absolute;
    left: 45px; top: 40px;
    padding: 20px; 
    font-size: 20px;
}

.table_profile{
	margin: 0 auto;
	width: 95.5%;
	height: 200px;
	position: absolute;
    left: 24px; top: 250px;
    padding: 20px; 
    font-size: 20px;
    background: #FFFFFF;
    border-spacing: 0px 0px;
}

.a_author{
	font-size: 25px;
   	color: #000000;
   	margin: 10px;
   	text-decoration: none; 
}

.a_author:visited {
    color: #000000;
    text-decoration: none; 
} 
 
.a_author:hover {
   	font-size: 27px;
   	text-decoration: none; 
}

table{
	width: 90%;
}

.div_main_list{
	position: absolute; 
	top: 12%;
	left: 230px;
	width: 87%;
}

.select_choice{
	margin-top: 7px;
	margin-bottom: 10px;
	margin-right: 20px;
	height: 40px; 
	width:  300px;
	border-radius: 10px;
	font-size: 20px;
}

.intext_choice{
	margin-top: 7px;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 5px;
	height: 40px; 
	width:  350px;
	border-radius: 10px;
	font-size: 20px;
	border: 1px solid gray;
}

.button_choice{
	margin-top: 6px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 40px;
	height: 40px; 
	width:  200px;
	border-radius: 10px;
	font-size: 20px;
	background: black;
}

.div_list{
	position: absolute; 
	top: 20%;
	left: 230px;
	width: 330px;
}

.a_logo{
    color: #ffffff;
    text-decoration: none;
 }

.a_logo:visited {
    color: #ffffff;
    text-decoration: none; 
} 
 
.a_logo:hover{
   	color: #ffffff;
	text-decoration: none; 
}

.intext_choice_request{
	margin-top: 7px;
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 5px;
	height: 40px; 
	width:  740px;
	border-radius: 10px;
	font-size: 20px;
	border: 1px solid gray;
}

.choice_author{
	margin-top: 7px;
	margin-bottom: 10px;
	margin-right: 20px;
	height: 40px; 
	width:  675px;
	border-radius: 10px;
	font-size: 20px;
}

.container_for{
	background: #FFFFFF; 
	width:  1500px;
	height: 450px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	right: 10%;
	margin: auto;
	top: calc(40% - 270px);
 	padding: 10px;
}

.table_request{
	width: 100%;
}

.intext_request{
	margin: 10px; 
	margin-top: 0;
	margin-bottom: 15px;
	border-radius: 10px;
	height: 40px;
	width:  450px;
	border: 3px ##444444;
	font-family:Arial;
}

.button_add{
	margin: 10px; 
	margin-top: 0;
	margin-bottom: 15px;
	border-radius: 10px;
	margin-left: 260px;
	height: 40px;
	width:  200px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.button_add2{
	border-radius: 10px;
	width:  200px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.add_text_arrea{
	border-radius: 10px;
	margin-right: 8%;
	height: 440px;
	width:  550px;
	border: 3px ##444444;
	font-family:Arial;
}

.left_after{
	width: 35%;
	height: 100%;
	position: absolute;
    left: 0;
    top: 10.5%;
    bottom: 0;
}

.rigth_after{
	width: 65%;
	height: 100%;
	position: absolute;
    right: 0;
    top: 10.5%;
    bottom: 0;
}

.div_photo_edit{
	margin: 0 auto;
	width: 300px;
	height: 350px;
	position: absolute;
    right: 0px; top: 40px;
    background: #E5F2FD; 
}

.button_edit{
	position: absolute;
	right: 0px; 
	margin-top: 400px;
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.div_info_edit{
	margin: 0 auto;
	position: absolute;
    left: 30px; top: 40px;
}

.redtext {
	color: red;
}

.intext_edit{
	margin: 10px; 
	margin-top: 0;
	margin-bottom: 15px;
	border-radius: 10px;
	height: 40px;
	width:  350px;
	border: 3px ##444444;
	font-family:Arial;
}

.add_text_edit{
	border-radius: 10px;
	margin: 10px; 
	height: 220px;
	width:  600px;
	border: 3px ##444444;
	font-family:Arial;
}

.button_reg{
	position: absolute;
	right: 0px; top: 430px;
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.button_reg2{
	position: absolute;
	right: 0px; top: 520px;
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.button_reg3{
	position: absolute;
	right: 0px; top: 410px;
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.div_info_left{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	position: absolute;
    left: 0; 
    top: 10.5%;
}

.div_info_right{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	position: absolute;
    right: 0; 
    top: 10.5%;
}

.text_arrea_comment{
	border-radius: 10px;
	height: 700px;
	width:  600px;
	position: absolute;
	top: 30px;
	border: 3px ##444444;
	font-family:Arial;
}

.intext_comment{
	border-radius: 10px;
	height: 40px;
	width:  400px;
	border: 3px ##444444;
	font-family:Arial;
}

.button_comment{
	height: 40px;
	width:  196px;
	border: 3px #000000;
	font-family:Arial;
	background: #000000;
}

.div_bottom_comment{
	margin-top: 735px;
}

.div_info_request{
	position: absolute;
	right: 20px;
	top: 30px;
	width: 80%;
	height: 700px; 
	border: 1px solid #444444;
	border-radius: 10px;
	padding-left: 10px;
}

.div_bottom_comment_info{
	margin-top: 735px;
	position: absolute;
	right: 20px;
}

.div_info_text{
	position: absolute;
	top: 95%;
}

.left_order{
	position: absolute;
	top: 10.5%;	
	left: 0;
	width: 45%;
	height: 100%;
}

.right_order{
	position: absolute;
	top: 10.5%;
	right: 0;
	width: 55%;
	height: 100%;
}

.add_composition{
	border-radius: 10px;
	height: 700px;
	width:  600px;
	position: absolute;
	top: 30px;
	border: 1px solid #444444;
	font-family:Arial;
	padding-left: 10px;
	padding-top: 10px;
}

.div_bottom_order{
	margin-top: 750px;
}

.intext_comment2{
	border-radius: 10px;
	height: 40px;
	width:  418px;
	border: 3px ##444444;
	font-family:Arial;
}

.div_info_order{
	background: #E5F2FD;
	position: absolute;
	left: 20%;
	top: 30px;
	border-radius: 10px;
	height: 350px;
	width:  550px;
	padding-left: 20px;
}

.div_bottom_comment2{
	position: absolute;
	margin-top: 750px;
	left: 20%;
}


.text_arrea_comment2{
	border-radius: 10px;
	height: 350px;
	width:  570px;
	position: absolute;
	top: 390px;
	border: 3px ##444444;
	font-family:Arial;
	left: 20%;
	padding-left: 20px;
	padding-top: 20px;
}

.intext_comment3{
	border-radius: 10px;
	height: 40px;
	width:  370px;
	border: 3px ##444444;
	font-family:Arial;
}

.div_list2{
	position: absolute; 
	top: 12%;
	left: 230px;
	width: 330px;
}

.div_bottom_comment3{
	position: absolute;
	margin-top: 750px;
	left: 0%;
}

.div_bottom_order2{
	margin-top: 750px;
	position: absolute;
	left: 20%;
}

.text_arrea_comment3{
	border-radius: 10px;
	height: 700px;
	width:  600px;
	position: absolute;
	top: 30px;
	border: 1px solid black;
	font-family:Arial;
	left: 20%;
	padding-left: 20px;
	padding-top: 20px;
}

.div_sign{
	width:  40%;
	height: 100%;
	position: absolute;
	top: 0;
    right:0;
    margin: 0 auto;
    overflow: hidden;   
}


.href_next{
	border-radius: 10px;
	background: #E5F2FD;
	font-size: 20pt;
	text-decoration: none;
	color: black;
}
