body,html{
	background: #FFFFFF; 
	color: #444444;
	width: 100%;
    height: 100%;	
}

.sign{
	background: #E5F2FD; 
}

.container { 		 
    background: #FFFFFF; 
	width:  350px;
	height: 450px;
	border-radius: 10px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: calc(40% - 225px);
 	padding: 50px;
}

.intext{
	margin: 10px; 
	border-radius: 10px;
	height: 40px;
	width:  300px;
	border: 3px ##444444;
	font-family:Arial;	
}

button{
	border-radius: 10px;
	background: #444444;
	height: 40px; 
	width:  300px;
	color: #ffffff;	
	font-family:Arial;
}

.inradio{
	margin-left: 5px; 
	height: 15px;
	width:  50px;
	border: 3px ##444444;
	font-family:Arial;	
}

.div_top{
	background: black; 
	min-width:  100%;
	min-height: 10%;
	position: absolute;
	top: 0;
    left: 0; right:0;
    margin: 0 auto;
    overflow: hidden;
}

.div_left{
	margin: 0 auto;
	width: 200px;
	height: 100%;
	position: absolute;
    left: 0;
    background: #FFFFFF; 
    top: 10.5%;
    bottom: 0;
    border-right: 4px outset black;
}

.div_right{
	margin: 0 auto;
	width: 200px;
	height: 100%;
	position: absolute;
	top: 11%;
	right: 0;
	background: #FFFFFF; 
}

.div_main{
	position: absolute; 
	top: 11%;
	left: 210px;
	width: 15%;
}

a {
    color: #000000;
    padding: 2px; 
    text-decoration: none;
 }

a:visited {
    color: #000000;
    text-decoration: none; 
} 
 
a:hover {
   	font-size: 20px;
   	color: #000000;
	text-decoration: underline overline; 
}

.title{
	color: #FFFFFF;
	font-family: Arial;	
	font-size: 40px;
	margin-left: 100px;
}

.td1{
	background: #E5F2FD;
}

td{
	font-size: 20px;
	background: #FFFFFF;
}

.table_p{
	width: 500%;
	background: #FFFFFF;
}

.smal_button{
	height: 40px;
	width: 20%;
	margin-right: 10px;
}
