<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link th:href="@{/css/accept_order_page.css}" rel="stylesheet">
    <title>Добавить произведение</title>
</head>
<body class="main">

<div class="top">
    <div class="label">
        BuyMyPoem
    </div>
</div>


<div class="basis">
    <div class="basis">
        <h2>Детали заказа:</h2>
    </div>

    <div class="auth_cust">
        <div class="name">Заказчик:</div>
        <div class="content">
            <span th:text="${order.customer.login}"></span>
        </div>
    </div>

    <div class="auth_cust">
        <div class="name">Исполнитель:</div>
        <div class="content">
            <span th:text="${order.author.login}"></span>
        </div>
    </div>

    <div class="auth_cust">
        <div class="name">Стоимость:</div>
        <div class="content">
            <span th:text="${order.cost}"></span>
        </div>
    </div>

    <div class="auth_cust">
        Нажимая кнопку "Принять" вы соглашаетесь с тем, что с вашего платежного ресурса будут списаны средства.
        Согласно договору вы получите готовое произведение, а исполнитель заказа, сумму списанную со счета вашего платежного ресурса.
        После оплаты заказа вы становитесь единоличным и полноправным автором данного произведения.
    </div>

    <div class="payment">
        <form action="#" th:action="@{/accept_order/{id} (id=${order.orderID})}" method="post">
            <div class="div_dynamyc_label">Введите данные платежного ресурса</div>
            <div class="div_dynamyc">
                Card Number:
                <input class="input_text" type="text" name="Title" required="required" th:field="${card}" />
            </div>
            <div class="div_dynamyc">
                CVV:
                <input class="input_text" type="text" name="Title" required="required" th:field="${cvv}" />
            </div>
            <div class="div_for_button">
                <button class="sign-up__button">Принять</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>