<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link th:href="@{/css/add_composition.css}" rel="stylesheet">
    <title>Добавить произведение</title>
</head>
<body class="main">

<div class="top">
    <div class="label">
        BuyMyPoem
    </div>
</div>
<form action="#" th:action="@{/add_composition}" method="post">
    <div>
        <input type="text" name="UserID" hidden="hidden" th:field="${comp.user.userID}"/>
    </div>
<div class="basis">
    <div class="container">
        <div class="main_div">Название:<input class="input_text" type="text" name="Title" th:field="${comp.title}" /></div>

        <div class="main_div">Жанр: <select class="input_text" th:field="*{comp.genre.genreID}">
            <option th:each="genre : ${genres}"
                    th:value="${genre.genreID}"
                    th:text="${genre.title+' - '+genre.description}">Жанр</option>
        </select></div>

        <div class="main_div">Тип:<select class="input_text" th:field="*{comp.type.typeID}">
            <option th:each="type : ${types}"
                    th:value="${type.typeID}"
                    th:text="${type.title+' - '+type.description}">Тип</option>
        </select></div>

        <div class="main_div">
            <textarea class="textarea_description" name="Description" th:field="${comp.description}" placeholder="Описание"></textarea>
        </div>

        <div class="main_div">
            <textarea class="textarea_comp" name="Text"  th:field="${comp.text}" placeholder="Текст произведения"></textarea>
        </div>

        <div class="div_for_button">
            <button class="sign-up__button">Добавить</button>
        </div>
    </div>
</div>
</form>
</body>
</html>
