<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/edit.css}" rel="stylesheet">
    <title>Редактировать профиль</title>
</head>
<body class="body">

<div class="top">
    <div class="label">
        <a th:href="@{/my_profile}" class="my_profile">BuyMyPoem</a>
    </div>
</div>

<div class="main">
<form method="POST" action="#" th:action="@{/edit_user}">
    <input type="text" name="UserID" hidden="hidden" th:field="${user.userID}"/>
    <input type="text" name="role" hidden="hidden" th:field="${user.role}"/>
    <div>
        <div>login:</div>
        <div><input class="input_text" type="text" name="login" required="required" th:field="${user.login}" /></div>
    </div>

        <div>
            <div>email:</div>
            <div><input class="input_text" type="text" name="email" required="required" th:field="${user.email}" /></div>
        </div>

                <div>
                <div>Расскажите о себе:</div>
                <div><textarea class="input_textarea" name="about" required="required" th:field="${user.about}" /></div>
            </div>

            <div th:if="${user.role=='Author'}">
                <div>Номер карты:</div>
                <div><input class="input_text" type="text" name="about" required="required" th:field="${user.cardNumber}" /></div>
            </div>

            <div class="div_button">
                <input class="submit_edit_info" type="submit" value="Принять изменения" />
            </div>
</form>

<form method="POST" action="#" th:action="@{/edit_profile}" enctype="multipart/form-data">
    <div>
        <div><input type="file" name="photo" multiple="multiple"/></div>
        <div><input type="submit" class="submit_edit_photo" value="Загрузить фото" /></div>
    </div>
</form>
    <div>
        <p class="sign-up__error" th:text="${error}"></p>
    </div>
</div>
</body>
</html>