<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/order_details.css}" rel="stylesheet">
    <title>Заказ</title>
</head>
<body class="main">
<div class="top">
    <div class="label">
        BuyMyPoem
    </div>
</div>

<div>
    <div th:if="${order.status=='CanceledByAuthor' and me.role=='Author'}">
        <h2 class="warning_text">Вы отправили запрос на отмену заказа, ожидайте ответа Заказчика</h2>
    </div>
    <div th:if="${order.status=='CanceledByCustomer' and me.role=='Customer'}">
        <h2 class="warning_text">Вы отправили запрос на отмену заказа, ожидайте ответа Автора</h2>
    </div>
    <div th:if="${order.status=='CanceledByAuthor' and me.role=='Customer'}">
        <h2 class="warning_text">ВНИМАНИЕ! Исполнитель отправил запрос на отмену заказа. Обдумайте решение и дайте свой ответ</h2>
        <div class="for_warn_btns">
            <form action="#" th:action="@{/canceling/{id} (id=${order.orderID})}" method="post">
                <button class="button" style="background-color: indianred">Отменить заказ</button>
            </form>
            <form action="#" th:action="@{/refuse_canceling/{id} (id=${order.orderID})}" method="post">
                <button class="button" style="background-color: lightgreen">Отказаться от отмены заказа</button>
            </form>
        </div>
    </div>
    <div th:if="${order.status=='CanceledByCustomer' and me.role=='Author'}">
        <h2 class="warning_text">ВНИМАНИЕ! Заказчик отправил запрос на отмену заказа. Обдумайте решение и дайте свой ответ</h2>
        <div class="for_warn_btns">
            <form action="#" th:action="@{/canceling/{id} (id=${order.orderID})}" method="post">
                <button class="button" style="background-color:indianred">Отменить заказ</button>
            </form>
            <form action="#" th:action="@{/refuse_canceling/{id} (id=${order.orderID})}" method="post">
                <button class="button" style="background-color: lightgreen">Отказаться от отмены заказа</button>
            </form>
        </div>
    </div>
</div>



<div class="basic">
    <div class="left">
        <div class="left-top">
            <div class="div_info_order">
                <div class="auth_cust">
                    <div>Заказчик:</div>
                    <div class="photo_login">
                        <div>
                            <img height="30px"  width="30px" th:src="@{'data:image/png;base64,' + ${order.customer.photo} }" />
                        </div>
                        <div>
                            <span th:text="${order.customer.login}"></span>
                        </div>
                    </div>
                </div>
                <div class="auth_cust">
                    <div>Исполнитель:</div>
                    <div class="photo_login">
                        <div>
                            <img height="30px"  width="30px" th:src="@{'data:image/png;base64,' + ${order.author.photo} }" />
                        </div>
                        <div>
                            <span th:text="${order.author.login}"></span>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="text">Дата публикации: <span th:text="${order.startdate}"></span></div>
                    <div class="text">Выполнить до: <span th:text="${order.deadline}"></span></div>
                    <div class="text">Стоимость: <span th:text="${order.cost}"></span></div>
                    <div class="text">Тип произведения: <span th:text="${order.type.title}"></span></div>
                    <div class="text">Жанр:  <span th:text="${order.genre.title}"></span></div>
                    <div class="text">Описание:  <span th:text="${order.description}"></span></div>
                    <div class="text">
                        <span th:if="${order.status=='Processing'}">&#9997;</span>
                        <span th:if="${order.status=='Ready'}" class="text_antiplagiat">
                            &#x2714;
                        <form action="#" th:action="@{/antiplagiat/{id_composition}/{id_order} (id_composition=${order.composition.compositionID}, id_order=${order.orderID})}" method="post">
                            <button class="button_antiplagiat">Проверить на уникальность</button>
                        </form>
                            <div class="rating" th:if="${color}=='red'" style="color:red">
                                <span th:text="${rating}" ></span>
                                <span th:text="${ratingCat}"></span>
                            </div>
                            <div class="rating" th:if="${color}=='orange'" style="color:orange">
                                <span th:text="${rating}" ></span>
                                <span th:text="${ratingCat}"></span>
                            </div>
                            <div class="rating" th:if="${color}=='green'" style="color:green">
                                <span th:text="${rating}" ></span>
                                <span th:text="${ratingCat}"></span>
                            </div>
                        </span>
                        <span th:unless="${order.status=='Ready' or order.status=='Processing'}">&#10060;</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="left-bottom">
            <div class="table_comments">
                <table class="for_width">
                    <tr th:each="comment : ${comments}">
                        <td>
                            <div class="comment">
                                <div class="for_img">
                                    <img height="60px"  width="60px" th:src="@{'data:image/png;base64,' + ${comment.user.photo} }" />
                                </div>
                                <div class="not_photo">
                                    <div class="login_date">
                                        <span th:text="${comment.user.login}"></span>
                                        <span th:text="${comment.sendingDate}"></span>
                                    </div>
                                    <div class="comment_text">
                                        <span th:text="${comment.text}"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="my_comment">
                    <form action="#" th:action="@{/add_comment_order/{id} (id=${order.orderID})}" method="post">
                        <div class="comment">
                            <div class="not_photo">
                                <div class="login_date">
                                    <span th:text="${me.login}"></span>
                                </div>
                                <div class="comment_text">
                                    <input class="input_comment" type="text" name="Title" required="required" placeholder="Оставьте комментарий" th:field="${mycomment.text}" />
                                    <button class="last_btn">&#x2714;</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="right">
        <div class="right-top">
            <div class="add_text" th:if="${me.role=='Author'and order.status=='Processing'}">
                <form action="#" th:action="@{/add_composition_to_order/{id} (id=${order.orderID})}" method="post">
                    <div class="div_dynamyc_label">Добавьте произведение:
                    </div>
                    <div class="add_text_list">
                        <div class="div_dynamic">
                            <select class="input_text" th:field="*{comp.compositionID}">
                                <option th:each="draft : ${drafts}" th:value="${draft.compositionID}" th:text="${draft.title+' - '+draft.description+'('+draft.type.title+'/'+draft.genre.title+')'}">Жанр
                                </option>
                            </select>
                        </div>
                        <div class="div_dynamic_for_btn">
                            <button class="button2"> &#10010;</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <textarea readonly class="text_area" placeholder="Текст заказа" th:field="${order.composition.text}">Текст произведения</textarea>
            </div>
        </div>
        <div class="choice_buttons" th:if="${me.role=='Customer' and order.status=='Ready'}">
            <div class="for_warn_btns">
                <a class="button" th:href="@{/accept_order_form/{id} (id=${order.orderID})}" >Принять заказ</a>
            </div>
            <div class="for_warn_btns">
                <a class="button" th:href="@{/send_order_form/{id} (id=${order.orderID})}" >Отправить на редактирование</a>
            </div>
        </div>
    </div>
</div>
<div class="for_warn_btns" th:if="${order.status=='Processing'}">
    <form action="#" th:action="@{/cancel_order_ask/{id} (id=${order.orderID})}" method="post">
        <button class="button" style="background-color: indianred; margin-top: 30px;">Запросить отмену заказа</button>
    </form>
</div>
</body>
</html>