<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/registration}" method="post">
        <h1>Регистрация</h1>
        <input required class="intext" type="text" name="userLogin" th:field="${newUsr.login}" placeholder="Логин"/><br><br>
        <input class="intext" type="text" name="userEmail" th:field="${newUsr.email}" placeholder="Email"/><br><br>
        <input class="intext" type="date" name="userBirthdate" th:field="${newUsr.birthdate}" placeholder="День рождения"/><br><br>
        <input class="intext" type="password" name="userPassword" th:field="${newUsr.password}" placeholder="Пароль"/><br><br>
        <input class="intext" type="password" name="userPassword2" th:field="${newUsr.confirmPassword}" placeholder="Повторите пароль"/><br><br>
        <button>Зарегистрироваться</button>
    </form>
    <form action="#" th:action="@{/}" method="get">
        <button>Вернутся на главную</button>
    </form>
    <p th:text="${error}"></p>
</div>
</body>
</html>