<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/comment_request.css}" rel="stylesheet">
    <title>Заявка</title>
</head>
<body class="main">
<div class="top">
    <div class="label">
        BuyMyPoem
    </div>
</div>
<div class="basis">
    <div class="basis_right">
        <div class="request">
            <form action="#" th:action="@{/add_response/{id} (id=${req.requestID})}" method="post">
                <div class="photo_login">
                    <img height="100px"  width="100px" th:src="@{'data:image/png;base64,' + ${req.user.photo} }" />
                    <span th:text="${req.user.login}">Автор</span>
                </div>
                <div class="other_content">
                    <div class="dates">
                        <div class="text2">Дата публикации: <span th:text="${req.publicationdate}"></span></div>
                        <div class="text2">Выполнить до: <span th:text="${req.deadline}"></span></div>
                        <div class="text2">Тип произведения: <span th:text="${req.type.title}"></span></div>
                        <div class="text2">Жанр:  <span th:text="${req.genre.title}"></span></div>
                    </div>

                    <div class="text3">Описание:  <span th:text="${req.description}"></span></div>
                </div>
                <div class="div_button">
                    <button th:if="${!check}" class="btn-response">Откликнуться</button>
                    <span th:if="${check}"> Вы уже откликнулись на эту заявку</span>
                </div>
            </form>
        </div>
        <div class="table_comments">
            <table class="for_width">
                <tr th:each="comment : ${comments}">
                    <td>
                        <div class="comment">
                            <div class="for_img">
                                <img height="60px"  width="60px" th:src="@{'data:image/png;base64,' + ${comment.user.photo} }" />
                            </div>
                            <div class="not_photo">
                                <div class="login_date">
                                    <span th:text="${comment.user.login}"></span>
                                    <span th:text="${comment.sendingDate}"></span>
                                </div>
                                <div class="comment_text">
                                    <span th:text="${comment.text}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div>
                <form action="#" th:action="@{/add_comment_request/{id} (id=${req.requestID})}" method="post">
                    <div class="comment">
<!--                        <div class="for_img">
                            <img height="60px"  width="60px" th:src="@{'data:image/png;base64,' + ${me.photo} }" />
                        </div>-->
                        <div class="not_photo">
                            <div class="login_date">
                                <span th:text="${me.login}"></span>
                            </div>
                            <div class="comment_text">
                                <input class="input_comment" type="text" name="Title" required="required" placeholder="Оставьте комментарий" th:field="${mycomment.text}" />
                                <button class="last_btn">&#x2714;</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
