<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Страница заказчика</h3>
<span th:text="${user.login}">login</span> -
<span th:text="${user.role}">role</span>

<div class="menu">
    <a th:href="@{/requests}" class="a_menu">Все заявки</a>
    <a th:href="@{/personalrequests}" class="a_menu">Мои заявки</a>
    <a th:href="@{/add_request_form}" class="a_menu">Добавить заявку</a>
    <a th:href="@{/index}" class="a_menu">Все произведения</a>
</div>
</body>
</html>