.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex: 10;
}

.body{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
}

.input_text{
    width: 300px;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.submit_edit_info{
    background: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
 }

.submit_edit_photo{
    background: black;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.input_textarea{
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

div{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex:1;
}

.div_button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 0;
}

.card{
    width: 230px;
    height: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}

.sign-up__error{
    color: red;
    font-size: 15px;
}

.top {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex: 1;
}

.label{
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-family: Arial;
    margin: 0 0 0 50px;
}

.my_profile{
      text-decoration: none;
      color: white;
  }