.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.info{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.i_info{
    display: flex;
    flex-direction: row;
}

.photo{
    height: 60px;
    width: 60px;
}

.photo_author{
    margin: 10px;
    display: flex;
}

.info_author{
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.description{
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.div_text{
    font-size: 20px;
}

.top {
    min-width: 700px;
    background: black;
    display: flex;
    flex-direction: row;
}

.label{
    color: white;
    font-size: 50px;
    display: flex;
    margin: 0 0 0 20px;
    align-items: center;
    font-family: Arial;
}

.basic{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right{
    display: flex;
    flex:1;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 600px;
}

.left{
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 600px;
}

.text{
    width: 80%;
    height: 80%;
    font-size: 20px;
    min-width: 600px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: none;
}

.likes_and_dislikes{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: flex-end;
    font-size: 20px;
}


.left-top{
    background: #E5F2FD;
    width: 70%;
    height: fit-content;
    <!--height: 40%;-->
    border-radius: 10px;
    margin: 40px 100px;
}

.left-bottom{
    background: #E5F2FD;
    width: 70%;
    height: fit-content;
<!--height: 40%;-->
    border-radius: 10px;
    margin: 0 100px;
}
.comment{
    display: flex;
    flex-flow: row;
    justify-content: left;
    width: 90%;
    margin: 5px 0 0 20px;
}
.for_img{
    height: 60px;
    width: 60px;
}
.not_photo{
    display: flex;
    flex-flow: column;
    width: 100%;
}
.login_date{
    font-size: 18px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}
.input_comment{
    width: 100%;
    border-radius: 10px;
    margin-left: auto;
    height: inherit;
}
.comment_text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right-top{
    background: #E5F2FD;
    width: 70%;
    height: fit-content;
<!--height: 40%;-->
    border-radius: 10px;
    margin: 40px 100px;
}

.buttonAntiplagiat{
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.my_profile{
    text-decoration: none;
    color: white;
}