.comment_text{
    font-size: 30px;
    width: 100%;
    font-family: Arial;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.table_comments{
    width: 60%;
}
.input_comment{
    width: 100%;
    border-radius: 30px;
    height: inherit;
    min-height: 70px;
}
.last_btn{
    color: black;
    width: 25%;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
    min-width: 200px;
}
.top {
    min-width: 700px;
    background: black;
    display: flex;
    flex-direction: row;
}
.label{
    color: white;
    font-size: 50px;
    display: flex;
    margin: 0 0 0 20px;
    align-items: center;
    font-family: Arial;
}
.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.content{
    display: flex;
    justify-content: center;
}
.for_label{
    text-align: center;
}

.my_profile{
    text-decoration: none;
    color: white;
}